body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fdfdfd;
}
.projetos {
  background: linear-gradient(to bottom right, #ffd6c0, #ffb6b6);
  height: 100vh;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  margin: 30px auto;
  text-align: left;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.projetos h2 {
  margin: 0 0 10px;
}

.projetos p {
  margin: 0 0 25px;
  color: #444;
}


.cards-container {
  display: flex;
  justify-content: center; 
  gap: 30px;               
}


.card {
  background-color: #f9a9b6;
  border-radius: 12px;
  padding: 15px 20px;
  width: 220px;            
  text-align: left;
}

.card b {
  display: block;
  margin-bottom: 6px;
}

.disciplina {
  background: linear-gradient(to bottom right, #e334ec, #e334ec);
  height: 100vh;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  margin: 30px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 601px){
  .disciplina{
    flex-direction: row;
    align-items: flex-start;
  } 
  .info{
    padding-left: 2rem;
  }
}

.hero{
  width:100%;
  height:100vh;
  background-size: cover;
  background-image: url("images/heroimage1.jpg");
  background-position: center;
  position: relative;
}

.hero-texto{
  position: absolute;
  top:40%;
  left:14%;
  text-align: center;
  color: white;
  font-size: 3vh;
}

.cta{
  top:5%;
  right:3%;
  position: absolute;
  text-align: center;
  color: white;
}

.cta ul {
  display: flex;
  gap: 10px; 
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 10px 20px;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 3px 3px lightgrey;
}

