header {
  background-color: green;
  color: white;       
  text-align: center;
  padding: 10px;
}

nav {
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px;
}

body {
  background-color: lightblue;
}

section.home {
  background-color: white;
  margin: 20px auto;   
  padding: 15px;       
  width: 95%;       
  text-align: left;   
}


footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

